* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topo {
  width: 100%;
  background-color: #000000;
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  line-height: 3em;
}

input[type="text"],
[type="email"],
[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  color: #f5f5f5;
  border: 1px solid #000000;
  border-radius: 4px;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.8);
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white;
}

input[type="submit"] {
  background-color: #012701;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.contato {
  background: url("../img/menor_joshua-hanson-73ctnpVWJio-unsplash.jpg")
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}

.btn-submit,
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.contato-icons {
  font-family: "Jost", sans-serif;
}
.contato-icons a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  padding: 5px;
  display: block;
}

.btn-icons {
  margin-top: 65px;
  line-height: 1.5em;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.904);
  border-radius: 2px;
  padding: 25px 20px;
  font-weight: 600;
  background-color: #000000;
}

@media (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  input[type="text"],
  [type="email"],
  [type="tel"],
  select,
  textarea {
    width: 70%;
    padding: 20px;
  }

  .topo {
    padding-left: 40px;
  }

  .contato {
    padding: 0px;
  }

  label {
    padding: 40px 12px 25px 0;
    margin-left: 65px;
  }

  .col-25 {
    width: 30%;
    padding-left: 100px;
  }

  .col-75 {
    width: 65%;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .btn-submit {
    margin-left: 150px;
  }

  input[type="submit"] {
    width: 40%;
  }

  .contato-icons a {
    font-size: 20px;
    padding: 15px;
  }

  .btn-icons {
    margin-top: 65px;
    line-height: 1.5em;
    padding: 25px;
  }
}

@media (min-width: 1280px) {
  .col-25 {
    width: 30%;
    padding-left: 100px;
  }

  .col-75 {
    width: 65%;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .btn-submit {
    padding: 10px 18px 0;
    margin-left: 205px;
  }
}
