* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 15px;
}

h2 {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  margin: 75px 0px 40px 0;
  padding-top: 5px;
  line-height: 1em;
  color: #ff3a08;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 50px 0;
  background-color: rgb(255, 255, 255);
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
textarea,
form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #9aa9b8;
  outline-color: #da6709;
}

form .btn-enviar {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #ff3a08;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  cursor: pointer;
}

span.error {
  display: flex;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.2);
}

span.error.active {
  border: 1px solid red;
  padding: 0.4em;
}

/* Aparição do FORM*/

form {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  form .input-block label {
    font-size: 16px;
  }
  form .btn-enviar {
    min-width: 130px;
    font-size: 14px;
  }
}

@media (min-width: 960px) {
  section {
    padding: 50px;
  }
  form {
    margin: 32px auto;
    padding: 32px;
  }
}

@media (min-width: 1200px) {
  .cabecalho {
    padding: 10px 10%;
  }

  .menu {
    width: 43%;
  }
  .menu li {
    padding: 0 60px;
  }

  section {
    padding: 100px;
  }

  h2 {
    margin: 20px 0px;
  }

  form .input-block label {
    font-size: 18px;
  }
  form .btn-enviar {
    min-width: 150px;
    font-size: 16px;
  }
}
