* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  float: left;
  text-align: center;
  padding: 5% 4%;
  background-color: #e47c27;
}

.line {
  border-right: 10px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Jost", monospace;
  font-size: 15px;
  margin: 20px auto;
  text-align: left;
  white-space: nowrap; /*não quebre a linha*/
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(30) infinite normal,
    typing 7s steps(50) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*servicos*/

.servicos {
  width: 100%;
  float: left;
  padding: 8% 4%;
}
.descricao {
  width: 100%;
  background-color: #e47c27;
  text-align: left;
  margin-bottom: 3%;
  border-radius: 7px 7px 0 0;
  /* border: solid 2px #da6709; */
}

.descricao img {
  border-radius: 7px 7px 0 0;
  border: solid 3px #ffffff;
  width: 100%;
}

.inner {
  padding: 6%;
}

.inner h2 {
  font-size: 1.2em;
  color: #0e0d0d;
  margin-top: 2%;
}
.inner p {
  margin-top: 5%;
  color: #0e0d0d;
  line-height: 1.5em;
}

/*tablets*/

@media (min-width: 768px) {
  .banner {
    text-align: left;
    padding: 3% 4%;
    background-color: #e47c27;
  }

  .line {
    border-right: 10px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: "Jost", monospace;
    font-size: 22px;
    margin: 20px 0px 15px 0px;
    text-align: left;
    white-space: nowrap; /*não quebre a linha*/
    overflow: hidden;
  }

  .typing-animation {
    animation: blinkCursor 500ms steps(30) infinite normal,
      typing 7s steps(50) 1s normal both;
  }

  .descricao {
    width: 49%;
    float: left;
    margin-right: 2%;
  }

  .descricao:nth-child(2) {
    margin-right: 0;
  }
  .descricao li {
    margin-bottom: 3px;
  }
}

/*tablets e desktops*/
@media (min-width: 960px) {
  .descricao {
    width: 48%;
  }

  .descricao:nth-child(2) {
    margin-right: 2%;
  }

  /* .descricao:nth-child(3) {
    margin-right: 0;
  } */
}

/* Desktop*/

@media (min-width: 1200px) {
  .menu li a {
    color: #ffffff;
    font-size: 1em;
    padding: 35px;
    margin: 30px;
  }

  .servicos {
    width: 100%;
    float: left;
    padding: 6% 2%;
  }

  .inner h2 {
    font-size: 2em;
  }
  .descricao li,
  .inner p {
    font-size: 1.5em;
  }
}
