* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
.banner {
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
  background: url(../img/frederic-koberl-2836IR07ocg-unsplash.jpg) no-repeat;
}
*/

/*container*/

.title {
  width: 100%;
}
.title h2 {
  font-size: 2.5em;
  color: whitesmoke;
  font-weight: 700;
}
.title h3 {
  font-size: 1.5em;
  color: whitesmoke;
}

p {
  color: #ffffff;
}

/*servicos*/

.servicos {
  width: 100%;
  float: left;
  padding: 3% 4%;
}

.servico {
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  border-radius: 7%;
  margin-bottom: 3%;
}

.servico img {
  border-radius: 7px 7px 0 0;
}

.inner {
  padding: 7%;
}
.inner a {
  font-size: 1.5em;
  color: #130400;
  font-weight: 700;
}
.inner h4 {
  font-size: 1.2em;
  color: #130400;
  margin-top: 2%;
}
.inner p {
  margin-top: 6%;
  color: #130400;
  line-height: 1.5em;
}
/*
header {
  min-height: 100vh;
  
  background-image: url(../img/markus-spiske-UCbMZ0S-w28-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;*/

/* Desktop*/

.infra h2 {
  padding-top: 30px;
  font-family: "Jost", sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: left;
  border-bottom: 2px solid #e47c27;
}

img {
  width: auto;
  height: 450px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.equipamentos p {
  font-size: 15px;
}
