* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  background-color: black;
}

.bg-gradiente {
  background: linear-gradient(to right, #e47c27, #ff3a08);
}

.cabecalho {
  padding: 1% 4%;
  background-color: whitesmoke;
  border-bottom: 2px solid #da6709;
}

.logo {
  float: left;
  width: 150px;
  height: 55px;
  background: url(../img/logoArtetransp.png) center center/160px no-repeat;
}

.btn-menu {
  width: 45px;
  height: 50px;
  margin-top: 25px;
  float: right;
  text-align: center;
  color: black;
  cursor: pointer;
}

.menu {
  display: none;
  width: 100%;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.9);
  top: 0;
  left: 0;
}

.btn-close {
  font-size: 1.5em;
  color: #ffffff;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0;
}

.menu ul {
  width: 100%;
  float: left;
  text-align: center;
}

.menu li {
  padding: 1.5%;
}

.menu li a {
  font-size: 2em;
  color: #ffffff;
  padding: 1.5% 3%;
}

.menu li a:hover {
  border: 2px solid #ec5b06;
}

a {
  text-decoration: none;
}

video {
  position: relative;
  left: 0;
  width: 100%;
  opacity: 0.9;
}

.sobre {
  padding-left: 7em;
  background-image: url(../img/IMG_67812.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sobre h2 {
  padding-top: 30px;
  font-family: "Jost", sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: left;
  border-bottom: 2px solid #e47c27;
}

.sobre p {
  color: whitesmoke;
  margin-bottom: 1em;
  text-indent: 1.5em;
  text-align: justify;
  line-height: 30px;
}

.marcas {
  background-color: #ffffff;
}

.marcas h2 {
  background: -webkit-radial-gradient(#da6709, orangered);
  padding: 10px 100px;
  font-family: "Jost", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.marcas .grid {
  display: grid;
}

.img-marcas {
  margin-left: 20px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
}

/*rodapé*/

.social-icons a {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 3%;
}

.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  color: rgba(10, 10, 10, 0.9);
}
.copyright {
  margin-top: 2%;
  color: rgba(255, 255, 255, 0.7);
}

/* mobile first*/

/* small devices - smartphones*/

@media (min-width: 360px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
  }
  .logo {
    width: 150px;
    background: url(../img/logoArtetransp.png) center center/140px no-repeat;
  }

  .btn-menu {
    width: 50px;
    height: 35px;
    margin-top: 20px;
  }

  .btn-close {
    margin: 2% 10% 0 0;
  }

  .flex-video {
    margin: 0 10px;
    padding: 160px 10px 30px;
  }

  .sobre {
    background-position: 70%;
    padding: 12em 2em;
  }

  .sobre h2 {
    padding-top: 6px;
  }

  .sobre p {
    margin-bottom: 2em;
    text-indent: 0.5em;
    line-height: 35px;
  }

  .marcas h2 {
    padding: 2px 10px;
    font-size: 13px;
  }
  .marcas .grid {
    padding-top: 10px;
    grid-template-columns: 190px 1fr;
    grid-template-rows: repeat(3, 60px 60px);
  }

  .img-marcas {
    margin-left: 40px;
    height: 50px;
  }

  footer p {
    font-size: 10px;
  }
  .social-icons a {
    margin-right: 8%;
  }
}

/*tablets*/

@media (min-width: 768px) {
  .flex-video {
    margin: 0 20px 60px;
    padding: 250px 20px 10px 50px;
  }
  .sobre {
    padding: 15em 2em;
  }

  .marcas h2 {
    padding: 2px 10px;
    font-size: 20px;
  }

  .img-marcas {
    margin-left: 20px;
    height: 50px;
  }

  .marcas .grid {
    padding-top: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 100px;
    align-content: center;
    justify-content: center;
  }
  footer p {
    font-size: 15px;
  }
  .social-icons a {
    margin-right: 8%;
  }
}

@media (min-width: 960px) {
  .cabecalho {
    padding: 1% 4%;
  }

  .menu li a {
    font-size: 2em;
    color: #ffffff;
    padding: 1.5% 3%;
  }

  .flex-video {
    margin: 0 30px 75px;
  }

  .sobre {
    padding: 17em 2em;
  }
  .sobre h2 {
    font-size: 2.5em;
  }
  .sobre p {
    font-size: 20px;
    margin-bottom: 2em;
    text-indent: 0.5em;
    line-height: 35px;
  }
}

/* Desktops*/

@media (min-width: 1200px) {
  .flex-video {
    margin: 0 20px 90px;
    padding: 126px 115px 50px;
  }

  .cabecalho {
    padding: 10px 6%;
  }

  .logo {
    width: 180px;
    height: 65px;
  }
  .btn-close,
  .btn-menu {
    display: none;
  }

  .menu {
    width: 54%;
    height: 60px;
    line-height: 60px;
    float: right;
    border-radius: 2px;
    background-color: rgba(10, 10, 10);
    display: block !important;
    position: static;
    font-size: 16px;
  }

  .menu li {
    float: left;
    list-style: none;
    padding: 0 60px;
  }
  .menu li a {
    color: #ffffff;
    font-size: 1em;
    padding: 8px;
  }

  .menu li a:hover {
    border: none;
    color: #f0742c;
  }

  .sobre {
    padding: 8em 70px;
  }

  .sobre h2 {
    font-size: 35px;
  }

  .sobre p {
    margin-bottom: 2.5em;
  }
  .marcas h2 {
    padding: 3px;
    font-size: 22px;
    line-height: 30px;
  }
  .marcas .grid {
    padding-top: 15px;
  }

  .img-marcas {
    margin-left: 38px;
    height: 65px;
  }

  .social-icons a {
    font-size: 2em;
    margin-right: 4%;
  }

  footer p {
    font-size: 16px;
  }
}
