* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  font-size: 14px;
  background-image: url(../img/jude-beck-ciMauT_dyJs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: black;
  position: fixed;
  padding: 20px 10px 10px 50px;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu .logo {
  background-image: url(../img/logo_peq.png);
  background-repeat: no-repeat;
  float: left;
  padding: 50px 100px;
}

.menu ul {
  display: flex;
  margin-top: 50px;
}

.menu li {
  list-style: none;
  font-size: 18px;
}

.menu a {
  font-family: "PT Sans";
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
  color: whitesmoke;
}

.menu a:active,
.menu a:hover {
  color: orangered;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

video {
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre {
  padding: 5em;
  min-height: 100vh;
  background-color: aliceblue;
}

.sobre h2 {
  padding-top: 60px;
  font-family: "Jost", sans-serif;
  color: black;
  margin-bottom: 2em;
  font-size: 2em;
}

.sobre .events {
  display: table;
  margin-left: 2em;
  clip-path: polygon(39% 100%, 100% 8%, 100% 100%);
}

.sobre p {
  color: black;
  margin-bottom: 1em;
  text-indent: 2em;
  text-align: left;
  font-weight: bold;
}
